@import "./variables.sass"

.about
  height: 100%
  width: 100%

  font-family: "Space Mono", monospace
  color: $purple
  opacity: 0
  position: relative

  animation: fadeIn 1s ease forwards

  &-title
    color: $accent
    font-family: "Bungee Shade", cursive
    font-size: 2.5em


    border: 3px solid $accent

    padding: 3px 10px

    background-color: lighten($accent, 35%)


  &-subtitle
    color: $accent

  &-footer
    position: absolute
    bottom: 5%

    color: $accent

    @media (max-height: 800px), (max-width: 900px)
      position: static
      margin: 40px 0
