@import "./variables.sass"

.footer
  width: 100%
  margin: auto

  display: flex
  flex-direction: row
  justify-content: space-between

  background: none
  border-top: 2px solid $accent
  margin-bottom: 30px

  color: $shadow
  font-family: 'Space Mono', monospace
  font-size: 0.9em
  text-align: center

  @media (max-width: 900px)
    flex-direction: column
    align-items: center

    font-size: 0.9em

  &__contact
    @media (max-width: 900px)
      text-align: center
      padding-top: 10px
      margin: 0

  &__credits
    text-align: right

    @media (max-width: 900px)
      text-align: center
      padding-top: 10px
      margin: 0
