@import "./variables.sass"
@import url('https://fonts.googleapis.com/css?family=Space+Mono|Bungee+Shade&display=swap')

body
  margin: 0
  height: 100vh

.container
  width: 100%
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  overflow: hidden

  @media (max-width: 1400px)
    font-size: 0.9em

  @media (max-width: 700px)
    font-size: 0.8em

  &::-webkit-scrollbar
    width: 0 !important

  &__greeting
    display: flex
    flex-direction: row
    align-items: center

    color: $accent
    font-family: "Space Mono", monospace

    position: absolute
    right: 3%
    top: 2%

    z-index: 4
    animation: fadeIn 2s ease-in-out forwards, bouncing 1s ease-in-out 1s infinite alternate

    &-text
      margin-top: 25px
      margin-right: 10px
      text-align: right

  .sidebar
    position: absolute
    bottom: 5%
    left: 3%

    transition: 1s ease-in-out

    animation: fadeIn 2s ease-in-out forwards, bouncing 1s ease-in-out 1s infinite alternate

    &__colors
      @include sidebar($shadow)

      background-color: rgba(244,244,244,0.8)
      padding: 3px 7px
      border-radius: 0 5px 5px 0
      border: 1.3px solid $shadow

      max-width: 210px
      opacity: 0.2

      transition: 0.5s ease-in-out

      &:hover
        opacity: 0.99

      &-blue
        @include sidebar($accent)

      &-purple
        @include sidebar($purple)

      &-green
        @include sidebar($green)

    &__page
      color: $shadow
      font-family: "Space Mono", monospace

      background-color: rgba(244,244,244,0.8)
      padding: 3px 30px 3px 7px
      border-radius: 0 5px 5px 0
      border: 1.3px solid $shadow

      box-shadow: -5px 0px rgba(0, 0, 0, 0), -7px 0px $shadow

      transition: 0.5s ease-in-out

      &:hover
        opacity: 0.99

.home
  width: 90vw
  height: 70vh
  position: relative

  display: flex
  justify-content: center
  align-items: center
  align-self: center

  border: 2px dashed white

  transition: 1s ease-in-out

  &.border
    border: 3px solid $accent

    box-shadow: 12px 12px $shadow

    animation: blueToPurple 1s ease-in-out 2s forwards, bouncing 1.5s ease-in-out 1s infinite alternate

  &.expand
    border: 3px solid $purple

    animation: expand 2s ease-in-out forwards

  &.shrink
    border: 3px solid $purple

    animation: shrink 2s ease-in-out forwards
