@import "./variables.sass"
@import url('https://fonts.googleapis.com/css?family=Space+Mono|Bungee+Shade&display=swap')

.projects
  width: 100%
  height: 100%

  display: grid
  grid-template-columns: 1fr 3fr

  background-color: white

  transition: 1s ease-in-out
  animation: fadeIn 2s ease-in-out forwards

  @media (max-width: 1200px)
    grid-template-columns: 1fr 2fr

  @media (max-width: 900px)
    grid-template-columns: 1fr
    grid-template-rows: 1.5fr 3fr

  &.grow
    grid-template-columns: 0 3fr
    animation: fadeOut 1s ease-in-out forwards

    @media (max-width: 900px)
      grid-template-rows: 3fr

  &.shrink
    grid-template-columns: 1 3fr
    animation: fadeOut 1s ease-in-out forwards

  &__items
    display: grid
    grid-template-rows: repeat(4, 1fr)
    grid-template-columns: 0.01fr 1fr

    border-right: 2px dashed $purple

    overflow-y: scroll

    @media (max-width: 900px)
      grid-template-rows: 1fr 1fr
      grid-template-columns: repeat(2, 1fr)

      border-right: none
      border-bottom: 2px solid $accent

      background-color: lighten($purple, 46%)

    &.grow
      border-right: none

    &::-webkit-scrollbar
      width: 0.5em
      height: 0.5em
      background-color: lighten($accent, 25%)
      border-left: 2px dashed $purple

    &::-webkit-scrollbar-thumb
      border: 2px dashed $purple
      border-right: none
      background-color: lighten($purple, 40%)

    &-header
      grid-row: 1 / span 5
      grid-column: 1

      writing-mode: vertical-rl
      text-orientation: upright
      color: $purple
      font-family: "Bungee Shade", cursive
      font-size: 3em
      letter-spacing: 2px
      font-weight: 100

      border-right: 2px solid $purple

      background-color: lighten($purple, 40%)

      margin: 0

      z-index: 3

      @media (max-width: 900px)
        grid-row: 1
        grid-column: 1 / span 2

        writing-mode: horizontal-tb

        padding-left: 10px

        font-size: 2.2em

        border-bottom: 2px solid $purple

    &__item
      color: $accent
      font-family: "Space Mono", monospace
      font-size: 1em

      border-bottom: 2px dashed $purple
      padding: 5%

      opacity: 0

      background-color: lighten($accent, 40%)

      transition: 0.5s ease
      cursor: pointer

      @media (max-width: 900px)
        height: 200px

      &:hover
        background-color: lighten($purple, 40%)

        color: $accent

      &-header
        color: $purple
        font-weight: 900

        font-size: 0.9em

        margin-top: 0

      &-title
        font-size: 1.3em

        margin: -5px 0
        padding-bottom: 10px
        border-bottom: 2px dashed $purple

      &-desc
        margin: 20px 0 0 0
        font-size: 1em

      &-tech
        margin-bottom: 0
        color: $purple

      &.one
        animation: fadeIn 1s ease 0.5s forwards

        @media (max-width: 900px)
          border-right: 2px dashed $purple

      &.two
        animation: fadeIn 1s ease 1s forwards

      &.three
        animation: fadeIn 1s ease 1.5s forwards

        @media (max-width: 900px)
          border-right: 2px dashed $purple

      &.four
        animation: fadeIn 1s ease 2s forwards

      &.five
        animation: fadeIn 1s ease 2.5s forwards
        border-bottom: none

        @media (max-width: 900px)
          border-right: 2px dashed $purple

  &__desc
    font-family: "Space Mono", monospace
    color: $purple


    opacity: 0
    position: relative

    animation: fadeIn 1s ease forwards

    overflow-y: scroll

    &::-webkit-scrollbar
      width: 1em
      background-color: none
      border-left: 2px dashed $purple

      @media (max-width: 900px)
        width: 0.5em

    &::-webkit-scrollbar-thumb
      background-color: $purple
