$accent: #4579D4
$accent-1: darken($accent, 10%)
$primary: #DCDCDD
$primary-1: darken($primary, 10%)
$primary-2: lighten($primary, 40%)

$secondary: #E5E5E5
$secondary-1: lighten($secondary, 2%)

$shadow: #394A60

$gold: #FFBC42
$gold-1: darken($gold, 15%)
$green: #A5BE00
$green-1: darken($green, 10%)
$red: #E01854
$red-1: darken($red, 10%)
$purple: #D62CC2
$purple-1: darken($purple, 10%)

@keyframes bouncing
  0%
    transform: translateY(0)

  100%
    transform: translateY(10px)

@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1


@keyframes blueToPurple
  0%
    border: 2px solid $accent

  100%
    border: 2px solid $purple

@keyframes purpleToGreenScroll
  0%
    border: 2px solid $purple

  100%
    border: 2px solid $green

@keyframes expand
  0%
    width: 70%
    height: 70vh

  100%
    height: 90vh
    width: 80vw

@keyframes shrink
  0%
    height: 90vh
    width: 80vw

  100%
    width: 70%
    height: 70vh
